<!doctype html>
<html lang="en" manifest="/app.manifest">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Spring resource handling</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" type="text/css" href="{{src "/css/main.css"}}">

    <script data-curl-run="{{src "/run.js"}}" src="{{src "/lib/curl/src/curl.js"}}" async></script>

</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 id="greeting">{insert greeting here}</h1>
    </div>
	<h2>Example of HTML5 <a href="/app.manifest">AppCache manifest</a></h2>
    <div id="logo"></div>
</div>
</body>
</html>