@import "../lib/github/twbs/bootstrap@3.3.4/css/bootstrap.css";

@images: "../img";

#logo {
  width: 100%;
  height: 200px;
  background: url("@{images}/spring-logo.png") no-repeat 50% 50%;
  background-size: 450px;
}